[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/ertuil/erblog
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/themes/hugo-theme-cleanwhite"]
	path = themes/themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
